extends ./layout/index

block slider 
    .slider     
        h1 Rio de Janeiro 
        em Aventura

block contenido
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6 
                p En nuestra agencia creemos que viajar es mucho más que moverse de un lugar a otro: es descubrir, sentir y crear recuerdos que duran toda la vida.Nos apasiona diseñar experiencias únicas, adaptadas a cada viajero, para que cada destino se convierta en una historia inolvidable.Con un equipo comprometido y años de experiencia en el mundo del turismo, te acompañamos en cada paso de tu aventura, garantizando comodidad, confianza y atención personalizada. Ya sea un viaje romántico, familiar o de exploración, hacemos que cada momento cuente.

            .col-md-6 
                img(src="https://res.cloudinary.com/djri16n7b/image/upload/v1763005148/inicio_nosotros_dqtchs.jpg", alt="Sobre Nosotros" class="img-fluid")
        
        .row.proximos-viajes
            include ./layout/bloqueViajes
    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Noviembre de 2025 - 20 de Diciembre de 2025
                        p.precio $2,500 pesos

    .container 
        h2.mt-5.text-center Testimoniales
        blockquote.text-center Lee sobre nuestros clientes y sus experiencias 
        .row.testimoniales
            include ./layout/bloqueTestimoniales