extends ./layout/index

block contenido     
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="Sobre Nosotros", class="img-fluid")

            .col-md-7 
                h1= pagina  
                blockquote  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus aperiam nobis modi veritatis laudantium nulla, ducimus officiis ipsum doloribus beatae id a odit nemo atque quaerat ipsam labore quis accusantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quaerat vel, quo ut incidunt officiis laboriosam iusto deserunt ipsum debitis harum labore eum asperiores aliquid earum quas qui, quod reiciendis! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores veritatis rerum id, iure culpa hic accusantium quam adipisci maiores nemo totam perferendis voluptatem nisi? Earum natus alias eius perferendis officia?

                p  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero incidunt quidem inventore molestias atque, provident expedita ducimus minus illo accusamus ad amet, voluptatibus facere. Corrupti, voluptates distinctio! Alias, eos possimus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. In placeat ab nisi labore cum quidem quam laudantium ipsa inventore id magni quibusdam enim error, dicta blanditiis debitis officiis exercitationem provident.
    
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="/img/icono_seguridad.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore possimus doloribus quo ipsam error cumque, facere eum consectetur deleniti reprehenderit iure necessitatibus sequi nulla magni, debitis modi. Dolorum, eaque officiis.

                .col-md-4 
                    img(src="/img/icono_destinos.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore possimus doloribus quo ipsam error cumque, facere eum consectetur deleniti reprehenderit iure necessitatibus sequi nulla magni, debitis modi. Dolorum, eaque officiis.
                .col-md-4 

                    img(src="/img/icono_precios.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore possimus doloribus quo ipsam error cumque, facere eum consectetur deleniti reprehenderit iure necessitatibus sequi nulla magni, debitis modi. Dolorum, eaque officiis.
