extends ./layout/index

block contenido     
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="https://res.cloudinary.com/djri16n7b/image/upload/v1763005146/nosotros_ntmtka.jpg", alt="Sobre Nosotros", class="img-fluid")

            .col-md-7 
                h1= pagina  
                blockquote  En nuestra agencia creemos que viajar es mucho más que moverse de un lugar a otro: es descubrir, sentir y crear recuerdos que duran toda la vida.Nos apasiona diseñar experiencias únicas, adaptadas a cada viajero, para que cada destino se convierta en una historia inolvidable.Con un equipo comprometido y años de experiencia en el mundo del turismo, te acompañamos en cada paso de tu aventura, garantizando comodidad, confianza y atención personalizada. Ya sea un viaje romántico, familiar o de exploración, hacemos que cada momento cuente.

                p  Con un equipo comprometido y años de experiencia en el mundo del turismo, te acompañamos en cada paso de tu aventura, garantizando comodidad, confianza y atención personalizada. Ya sea un viaje romántico, familiar o de exploración, hacemos que cada momento cuente.
    
    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="/img/icono_seguridad.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  Tu tranquilidad es nuestra prioridad. Trabajamos únicamente con proveedores certificados, vuelos y hospedajes seguros, y asistencia 24/7 durante todo tu viaje. Viaja con la confianza de estar protegido en cada destino.

                .col-md-4 
                    img(src="/img/icono_destinos.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Te llevamos a los lugares más fascinantes del mundo: playas paradisíacas, ciudades llenas de historia, paisajes naturales y culturas vibrantes.Descubre nuevos horizontes con itinerarios cuidadosamente diseñados para ti.
                .col-md-4 

                    img(src="/img/icono_precios.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p  Te ofrecemos tarifas competitivas, promociones exclusivas y opciones de pago flexibles para que vivas experiencias inolvidables sin comprometer tu presupuesto. Tu próximo destino está más cerca de lo que imaginas.
