footer
    .container.py-2.bg-primary.mt-3 
        .row.align-items-center    
            .col-md-6
                nav.nav.footer.justify-content-center.justify-content-md-start 
                    a.nav-link(href="/nosotros") Nosotros
                    a.nav-link(href="/viajes") Viajes
                    a.nav-link(href="/testimoniales") Testimoniales
            .col-md-6
                p.copyright.text-center.m-0
                    | Todos los Derechos Reservados 
                    span= ActualYear